/* ESTILOS GLOBAIS */


/* MOBILE FIRST */

@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url(res/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 200;
    src: url(res/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url(res/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(res/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(res/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 600;
    src: url(res/fonts/Roboto-Black.ttf);
}

* {
    box-sizing: border-box;
}

html, body, #mashup {
    height: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button, span, a {
    font-family: Roboto!important;
}

button.lui-icon,
span.lui-icon,
a.lui-icon {
    font-family: "LUI Icons"!important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}




/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-height: 45px;
    background-color: rgb(45, 64, 102);
}

.navbar .app-title,
.navbar .btn-menu {
    position: absolute;
    left: 10px;
}

.navbar .btn-filters {
    position: absolute;
    right: 10px;
}

.navbar .app-title {
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.navbar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.navbar button:hover .icon {
    fill: #aaa;
}


/* END NAVBAR */


/* PAGE HEADER  */

.page-header {
    min-height: 50px;
    background-color: #4C5869;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.header-navigation .navigation-list {
    display: flex;
    height: 100%;
}

.header-navigation .navigation-link.active .icon {
    fill: #FF9900;
}

.header-navigation {
    display: none;
    height: 100%;
}

.header-navigation .navigation-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 20px;
    height: 100%;
    font-family: Roboto;
}

.header-navigation .navigation-link.active {
    background-color:rgb(108, 125, 158);
}

.header-navigation .navigation-link svg {
    margin-right: 10px;
}


/* SIDEBAR NAV */
.sidebar-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 268px;
    background: rgb(45, 64, 102);
    box-shadow: 1px 1px 10px -3px black;
    transition: all 300ms linear;
}

.sidebar-nav.opened {
    left: 0;
}

.sidebar-nav .sidebar-header {
    height: 70px;
    display: flex;
    align-items: center;
    background:rgb(45, 64, 102);
}

.sidebar-nav .sidebar-header img {
    margin-left: 10px;
}


.sidebar-nav .sidebar-header .app-logo {
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-nav .app-title {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    padding-right: 60px;
    font-weight: 400;
}

.sidebar-navigation .navigation-link {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 12px;
    font-family: Roboto;
    height: 61px;
    border-bottom: 1px solid #232F3E;
    border-top: 1px solid #232F3E;
}

.sidebar-navigation .navigation-link.active {
    background: rgb(108, 125, 158);
}

.sidebar-navigation .navigation-link.active .icon {
    fill: #FF9900;
}

.sidebar-navigation .navigation-link svg {
    margin-right: 10px;
}


/* SIDEBAR FILTERS COMPONENT */

.sidebar-filters {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 268px;
    background: rgb(45, 64, 102);
    box-shadow: 1px 1px 10px -3px black;
    transition: all 300ms linear;
    padding: 0 15px;
}

.sidebar-filters.opened {
    right: 0;
}



/* FADE COMPONENT */

.fade {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 64, 102, 0.73);
    z-index: 2;
    display: none;
}

.fade.active {
    display: block;
}

/* END FADE COMPONENT */




/* QLIK NATIVE OBJECTS - CUSTOM STYLES */

.qv-collapsed-listbox .title-wrapper .title {
    color: white;
    font-weight: normal;
}

.qv-state-count-bar .state.selected {
    background: #FFCA47;
}

.qv-state-count-bar .state.optional {
    background-color: #272b39;
}

.qv-state-count-bar {
    border: 0px solid #475465;
}

.sel-toolbar-icon {
    color: white;
}

.lui-popover {
    background-color: #272b39;
    border: 1px solid #3b4555;
}

.qv-listbox .serverLocked,
.qv-listbox .serverSelected,
.qv-listbox li.selected {
    background-color: #ff9900;
    color: #fff;
    border-bottom: 1px solid #bc7407;
}

.qv-selection-toolbar {
    background-color: #272b39;
}

.qv-listbox li.serverOptional {
    color: white;
    border-bottom: 1px solid #3b4555;
}


.qv-collapsed-listbox {
    border: 1px solid #475465;
    background-color: #272B39!important;
}



/* END QLIK NATIVE OBJECTS */


/* PARA DESKTOP */

@media(min-width: 1024px) {

    .fade.active {
        display: none;
    }

    .navbar .app-title {
        display: block;
    }

    .btn-menu {
        display: none;
    }

    .page-header .page-title {
        display: none;
    }

    .header-navigation {
        display: block;
    }
    
}


/* QLIKOBJECT COMPONENT */

.qlik-mashup-object {
    /* background-color: yellow;
    border: 1px solid black; */
    min-width: 260px;
    flex: 1;
}


/* PAGE */

.page {
    padding: 10px;
    flex: 1;
}

/* PAGE DASHBOARD */

.object-container {
    display: flex;
    flex-wrap: wrap;
}

/* END PAGE DASHBOARD */


/* QLIK TABLE TITLE */

.qv-object .qv-object-title .qv-object-title-text {
    color: #5C6A7E;
    font-family: Roboto;
    font-size: 18px;
}

/* END QLIK TABLE TITLE */



/* LOADER - DONT REMOVE!!!  */

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
.sk-folding-cube .sk-cube {
float: left;
width: 50%;
height: 50%;
position: relative;
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #333;
-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
-webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
-webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
-webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
-webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
-webkit-animation-delay: 0.6s;
        animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
-webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
} 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
} 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
} 
}

@keyframes sk-foldCubeAngle {
0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
} 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
} 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
}
}


/* LOADER COLOR */
.sk-folding-cube .sk-cube:before {
    background: gold;
}